@model Student
@{
    ViewData["Title"] = "Detail";
}

<main style="margin-top: 70px; margin-left:60px;">
    <div class="container px-3 my-5 clearfix">
        <!-- Shopping cart table -->
        <div class="card">
            <div class="card-header">
                <h2>@Model.FullName</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered m-0">
                        <thead>
                            <tr>
                                <!-- Set columns width -->
                                <th class="text-center py-3 px-4" style="width: 200px;">FullName</th>
                                <th class="text-center py-3 px-4" style="width: 120px;">Profession</th>
                                <th class="text-center py-3 px-4" style="width: 120px;">Biograpy</th>

                                <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td class="p-4">
                                    <div class="media align-items-center">
                                        <img style="witdh:100px;height:100px" src="~/admin/assets/images/@Model.Image" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                        <div class="media-body">

                                <td class="align-middle p-4">@Model.Profession</td>
                                <td>@Model.Biography</td>
                                        </div>
                                    </div>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>

        <div class="project-info-box">
            <a asp-action="Index" class="btn btn-danger mt-3">Back</a>
        </div>
            </div>
        </div>
    </div>
</main>

