@model SocialEditVM


@{
    ViewData["Title"] = "Edit";
}

<main id="main" class="main">
    <div class="container mt-5">
        <form method="post" asp-action="Edit" enctype="multipart/form-data">
            <div class="forms-sample">
                <label for="exampleInputUsername1"><h1>Social Edit</h1></label>
                <input asp-for=Name type="text" class="form-control mt-3" maxlength="100" placeholder="Name ..."></input>
            </div>
            <button type="submit" class="btn btn-primary mr-2 mt-3">Edit</button>
            <a class="btn btn-light mt-3" asp-action="Index">Cancel</a>
        </form>
    </div>
</main>
