@model List<Social>
@{
    ViewData["Title"] = "Index";
}

<main style="margin-top: 70px; margin-left:60px;">


    <div class="container mt-5">
        <h2 class="text-center">Socials</h2>
        <div class="create-operation">
            <a asp-action="Create" class="btn btn-success text-white btn-sm"><i class="ti-plus"></i></a>
        </div>

        <div class="card mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>Social Name</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning text-white btn-sm"><i class="ti-pencil"></i></a>
                                <form class="d-inline" asp-action="Delete" method="post" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-danger text-white btn-sm"><i class="ti-trash"></i></button>
                                </form>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>

